.transitionbulletone {
	line-height: 10px;
	font-size: 10px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.transitionbullettwo {
	line-height: 10px;
	font-size: 20px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.transitionbulletthree {
	line-height: 10px;
	font-size: 30px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.addHopContainer {
	margin-left: auto;
	margin-right: auto;
	width: 180px;
}

#add-hop-button {
	margin-left: auto;
	margin-right: auto;
	width: 180px;
}

.arrival {
	margin-top: 10px;
}

.hop_container {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	padding: 15px 10px 25px 10px;
	background-color: #eeeeee;
	  -webkit-border-radius: 6px;
	     -moz-border-radius: 6px;
	          border-radius: 6px;
	height: 20px;
}

.airports_title {
	border-bottom: 1px grey solid;
	margin-bottom: 10px;
}

.hop_container_insert {
	display: none;
}

.hop_container_delete {
	margin-left: 5px;
}

.hop_container_title {
	font-size: 30px;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
	margin-top: 4px;
	width: 200px;
}

.logo {
	height: 30px;
}

.brand {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

input.hop-length {
	text-align: center;
	width: 30px;
}