.transitionbulletone {
	line-height: 10px;
	font-size: 10px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.transitionbullettwo {
	line-height: 10px;
	font-size: 20px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.transitionbulletthree {
	line-height: 10px;
	font-size: 30px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.addHopContainer {
	margin-left: auto;
	margin-right: auto;
	width: 180px;
}

#add-hop-button {
	margin-left: auto;
	margin-right: auto;
	width: 180px;
}

.arrival {
	margin-top: 10px;
}

.hop_container {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	padding: 15px 10px 25px 10px;
	background-color: #eeeeee;
	  -webkit-border-radius: 6px;
	     -moz-border-radius: 6px;
	          border-radius: 6px;
	height: 20px;
}

.airports_title {
	border-bottom: 1px grey solid;
	margin-bottom: 10px;
}

#hop_container {
	width: 960px;
	margin: 0 auto;
}

.hop_container_insert {
	display: none;
}

.hop_container_delete {
	margin-left: 5px;
}

.hop_container_title {
	font-size: 30px;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
	margin-top: 4px;
	width: 200px;
	padding-bottom: 15px;
}

.logo {
	height: 30px;
}

.brand {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

/* Main marketing message and sign up button */
      .jumbotron {
        margin: 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

input.hop-length {
	text-align: center;
	width: 40px;
}

input.passengers {
	text-align: center;
	width: 40px;
}

.length-container {
	margin-left: 5px;
}

.airport-container {
	margin-left: 5px;
}

.result_price {
	margin-top: 5px;
}

.result_code {
	padding-top: 5px;
}

.route, .carrier, .code, .price, .total {
	font-size: 20px;
	height: 50px;
}

.application {
	width: 960px !important;
}