.transitionbulletone {
	line-height: 10px;
	font-size: 10px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.transitionbullettwo {
	line-height: 10px;
	font-size: 20px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.transitionbulletthree {
	line-height: 10px;
	font-size: 30px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	text-align: center;
}

.addHopContainer {
	margin-left: auto;
	margin-right: auto;
	width: 180px;
}

.addhop {
	margin-left: auto;
	margin-right: auto;
	width: 156px;
}